.orange-color {
  background-color: #FB8C37 !important;
  color: #ffffff !important;
}

.blue-color {
  background-color: rgba(7, 16, 45, 1) !important;
  color: #ffffff !important;
}

.red-color {
  background-color: #F15F50 !important;
  color: #ffffff !important;
}

.yellow-color {
  background-color: #FDC01E !important;
  color: #ffffff !important;
}

.black-color {
  background-color: #1D2731 !important;
  color: #ffffff !important;
}

.menu > .item {
  color: #FDC01E !important;
}

.top-menu  {
  background-repeat: no-repeat;
  height: 400px;
}

.icon.white.button {
  color: #ffffff !important;
}

.item.social-button {
  margin: 0 !important;
}

.layer {
  height: 100%;
}

.yellow-bg-transparent {
  background-color: rgba(253, 192, 30, 0.60) !important;
}

.bg {
  background: url("../img/bg.jpg") no-repeat center center;
  background-size: cover;
}

.centered-img {
  margin: 0 auto !important;
}

.coloured-bg {
  height: 100px;
}

.section {
  padding-top: 80px;
  padding-bottom: 20px;
}

.red-color > .container > .header {
  color: #ffffff !important;
}

.yellow-color > .container > .header {
  color: #ffffff !important;
}

.blue-color > .container > .header {
  color: #ffffff !important;
}

.super-text {
  color: white !important;
  font-size: 4.5rem !important;
}

.small-text {
  font-size: 1.15rem !important;
}

.full-width {
  min-height: 350px;
  width: 100% !important;
}

.container.special {
  width: 100% !important;
  padding-bottom: 14px !important;
}

.video.row {
  margin-top: 14px;
}

.ui.header.head {
  padding-bottom: 25px;
}
