.orange-color {
  background-color: #FF5722 !important;
  color: #ffffff !important;
}

.blue-color {
  background-color: #2046b8 !important;
  color: #ffffff !important;
}

.red-color {
  background-color: #E21121 !important;
  color: #ffffff !important;
}

.yellow-color {
  background-color: #F7C300 !important;
  color: #ffffff !important;
}

.black-color {
  background-color: #1D2731 !important;
  color: #ffffff !important;
}

.menu > .item {
  color: white !important;
}

.top-menu  {
  background-repeat: no-repeat;
  height: 400px;
}

.icon.white.button {
  color: #ffffff !important;
}

.item.social-button {
  margin: 0 !important;
}

.layer {
  height: 100%;
  background-color: rgba(32, 70, 184, 0.95) !important;
}

.centered-img {
  margin: 0 auto !important;
}

.coloured-bg {
  height: 100px;
}

.section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.red-color > .container > .header {
  color: #ffffff !important;
}

.yellow-color > .container > .header {
  color: #ffffff !important;
}

.blue-color > .container > .header {
  color: #ffffff !important;
}

.super-text {
  color: white !important;
  font-size: 4.5rem !important;
}

.small-text {
  font-size: 1.15rem !important;
}
